<!-- // navbar top search panel -->
<nav class="fixed top-0 z-50 w-full bg-white border-b border-gray-200 dark:bg-gray-800 dark:border-gray-700">
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-between">
      <div class="flex items-center justify-start">
        <button data-drawer-target="logo-sidebar" data-drawer-toggle="logo-sidebar" aria-controls="logo-sidebar" type="button" class="inline-flex items-center p-2 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <span class="sr-only">Open sidebar</span>
            <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
               <path clip-rule="evenodd" fill-rule="evenodd" d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z"></path>
            </svg>
         </button>
        <a href="https://openlibrary.org/" class="flex ml-2 md:mr-24" target="_blank">
          <span class="self-center text-xl font-semibold sm:text-2xl whitespace-nowrap dark:text-white">Open Library API</span>
        </a>
      </div>
      <div class="flex items-center">
        <div class="relative">
          <form (ngSubmit)="onSubmit()">
          <input type="search" id="name" name="name" [(ngModel)]="formData.name" class="block w-full p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Books" required>
          <button type="submit" class="text-white absolute right-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Go</button>

          <div class="absolute inset-y-0 left-0 flex items-center pl-3" style="z-index: 100;">
            <svg (click)="clearChat()" aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400 pointer-events-auto" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>                
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</nav>


<!-- // home page seach hero section -->
<div style="overflow: hidden;" *ngIf="showHome">

  <div class="p-4 sm:ml-64 mt-20 ">
    <div class="text-center bg-gray-50 text-gray-800 py-24 px-6">
      <h1 class="text-5xl md:text-6xl xl:text-7xl font-bold tracking-tight mb-15">Surf Through 3M+ Books <br ><span class="text-4xl md:text-5xl xl:text-6xl font-bold tracking-tight mb-1 text-blue-600">Search Now</span></h1>
    </div> 
      <form class="flex items-center text-center w-10/12 mx-auto" (ngSubmit)="onSubmit()">   
        <div class="relative w-full">
          <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
            <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
          </div>
          <input type="text" [(ngModel)]="formData.name" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Now" required>
      </div>
      <button type="submit" class="inline-block mx-3 px-7 py-3 mr-2 bg-blue-600 text-white font-medium text-sm leading-snug uppercase rounded shadow-md hover:bg-blue-700 hover:shadow-lg focus:bg-blue-700 focus:shadow-lg focus:outline-none focus:ring-0 active:bg-blue-800 active:shadow-lg transition duration-150 ease-in-out">
        <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
        <span class="sr-only">Search</span>
      </button>
    </form>
  </div>
</div>

<!-- // search result showcase -->
<!-- <div *ngif="showResult"> -->
<div *ngIf="isLoading && showResult; else content" >
  <div class="flex items-center justify-center h-screen">
    <div class="animate-spin rounded-full h-16 w-16 border-t-4 border-blue-500"></div>
  </div>  
</div>

<ng-template #content>
  <div class="p-4 sm:ml-64 mt-20" *ngIf="allResults.length > 0 && showResult; else nodata" >
    <div class="tw-mb-24-px tw-text-24-px"> Book{{ allResults.length > 1 ? "s" : "" }} based on search "{{ subjectName }}"</div>
  
    <ng-container>
      <!-- // data table -->
    <front-end-internship-assignment-table-view
      [booksList]="allResults"
      [subjectName]="subjectName"
      [search] = "true">
    </front-end-internship-assignment-table-view>
    <br>
    

      <div class="pagination" style="display: flex; align-items: center; justify-content: space-between;">
        <div class="relative inline-block">
          <select [(ngModel)]="limit" (change)="onSelectionChange($event.target )" class="block appearance-none w-full bg-white border border-gray-300 text-gray-700 py-2 px-4 pr-8 rounded leading-tight">
            <option>10</option>
            <option>20</option>
            <option>30</option>
            <option>40</option>
            <option>50</option>
          </select>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
              <path d="M10 12l-6-6h12l-6 6z" />
            </svg>
          </div>
        </div>
      <div style="display: flex;">
        <button class="pagination-btn" 
          (click)="goToPage(1)"
          [disabled]="currentPage === 1"
          [ngClass]="{ 'opacity-50': currentPage === 1 }" >
          <mat-icon
            class="tw-cursor-pointer tw-text-[20px]"
            aria-label="First Page Icon"
            >first_page</mat-icon>
        </button>
        <button
          class="pagination-btn"
          (click)="goToPage(currentPage - 1)"
          [disabled]="currentPage === 1"
          [ngClass]="{ 'opacity-50': currentPage === 1 }">
          <mat-icon
            class="tw-cursor-pointer tw-text-[20px]"
            aria-label="Pervious Icon">chevron_left</mat-icon>
        </button>
      
        <span class="pagination-info">
          Page {{currentPage}} of {{ totalPages }} 
        </span>
      
        <button
          class="pagination-btn"
          (click)="goToPage(currentPage + 1)"
          [disabled]="currentPage === totalPages"
          [ngClass]="{ 'opacity-50': currentPage === totalPages }">
          <mat-icon
            class="tw-cursor-pointer tw-text-[20px]"
            aria-label="Next Icon">chevron_right</mat-icon>
        </button>
        <button
          class="pagination-btn"
          (click)="goToPage(totalPages)"
          [disabled]="currentPage === totalPages"
          [ngClass]="{ 'opacity-50': currentPage === totalPages }">
          <mat-icon
            class="tw-cursor-pointer tw-text-[20px]"
            aria-label="Last Page Icon">last_page</mat-icon>
        </button>
      </div>
      </div>
    </ng-container>
  </div>
  <ng-template #nodata>
    <div *ngIf="showResult" class="flex items-center justify-center h-full p-4 sm:ml-64" style="margin-top: -80px;">
      <div class="text-center">
        <h2 class="text-2xl font-bold mb-4">No Data Found</h2>
        <p class="text-gray-500">Sorry, no data was found. Visit <a style="color: blue;" (click)="navigateToHome()">Home</a> </p>
      </div>
    </div>
  </ng-template>
</ng-template>


